@import 'variables/colors';
@import 'variables/fonts';
@import 'patterns/buttons';
@import 'patterns/reset';
@import 'patterns/header';

html {
  background: url(/images/tappedbgleft.png) no-repeat 0 50px fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: $blue;
}

.main-content {
  margin: 150px 50px;
  text-align: center;
  background: rgba(1,1,1,0.5);
  font-family: edmondsans;
  color: $white;
  padding: 20px;
  transition: width .5s;

  &._right {
    width: 60%;
    float: right;
  }

  &._center {
    width: 90%;
    margin: 150px auto;
  }

  h1 {
    font-size: 38px;
    font-family: edmondsans;
  }

  img.press_photo {
    width: 80%;
    margin: 30px 0;
  }
}

@media screen and (max-width: 1060px) {
  html {
    background: url(/images/tappedbgcenter.png) no-repeat 50% 50px fixed;
    background-color: $blue;
  }

  .main-content,.main-content._right {
    margin: 150px auto;
    width: 80%;
    float: none;
  }
}