@import 'variables/colors';
@import 'variables/fonts';
@import 'patterns/reset';
@import 'patterns/header';

html {
  background: url(/images/tappedbg-2880.png) no-repeat 50% 10px fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: $blue;
}