@import 'variables/colors';
@import 'variables/fonts';
@import 'patterns/buttons';
@import 'patterns/reset';
@import 'patterns/header';

html {
  background: url(/images/tappedbgcenter.png) no-repeat 50% 50px fixed;
  background-color: $blue;
}

.main-content {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

.review {
  color: #000;
  background-color: #FFF;
  margin: 1%;
  display: inline-block;
  padding: 10px;

  &-content {
    font-family: edmondsans;
    font-size: 20px;
    text-align: left;
  }

  &-author,&-context {
    text-align: right;
  }

  &-author {
    font-size: 22px;
    padding: 15px 0 5px;
  }

  &-context {
    font-style: italic;
  }
}