nav
  a.logo(href='/') 
    img(src='images/logo.png')
  a.nav_choice(href='/', class=(activePage === 'home' ? 'active' : '')) Home
  a.nav_choice(href='/about', class=(activePage === 'about' ? 'active' : '')) The Show
  a.nav_choice(href='/listen', class=(activePage === 'listen' ? 'active' : '')) The Songs
  a.nav_choice(href='/who', class=(activePage === 'who' ? 'active' : '')) The Team
  a.nav_choice(href='/support', class=(activePage === 'support' ? 'active' : '')) Support Us
  a.nav_choice(href='/contact', class=(activePage === 'contact' ? 'active' : '')) Contact
  script.
    console.log('🐶 this page was built by Todd H. Page of http://thpcod.es and he can build yours, too. get in touch 🐶')