nav
  a.logo(href='/') 
    img(src='images/logo.png')
  a.nav_choice(href='/') Home
  a.nav_choice(href='/about') The Show
  a.nav_choice(href='/listen') The Songs
  a.nav_choice(href='/who') The Team
  a.nav_choice(href='/who') Support Us
  a.nav_choice(href='/contact') Contact