html
  head
    title Someone is Always Watching
    link(rel='stylesheet', href='/styles/core.css')
  body
    .background
    include ./includes/nav.jade
    section.main-content._core
      img(src='images/header-eagle.png').header-eagle
      .dates June 9 – July 3, 2016 | Thursdays, Fridays & Saturdays at 7:30pm; Sundays at 2:00pm | At Theater Wit
      h1 Script
      p A 15-page excerpt of the TAPPED script is <a href="scriptsample.pdf">available here.</a>
      p To receive a copy of the entire script, please e-mail Jed Levine: <a href="mailto:info@tappedthemusical.com">info@tappedthemusical.com</a><br><br>
      h1 Summary
      p
        i Warning: spoilers ahead!
      h2.center-text ACT I
      p Mary is a brilliant and ambitious NSA analyst determined to someday become director of the troubled agency (“Your Secrets”). After getting passed up for another promotion, she’s assigned to monitor a sweet-but-bumbling animal rights activist she knew in college, Steve. It soon becomes clear that Steve has bigger ambitions—namely to expose the NSA’s domestic spying program with the help of WikiLeaks.
      p As she listens to Steve’s calls, Mary reluctantly comes to realize that she’s falling in love with him (“Could I Be in Love?”) With the help of her best friend and co-worker Lisa, Mary sets up a dinner date. The date unravels when Mary reveals she works for the NSA and Steve mistakes this as an offer to help him. Against her better judgment, a now-smitten Mary agrees (“People are Gonna Love/Hate Us”).
      p Back at the NSA, Mary’s unhinged, Jack-Bauer-loving boss, Patrick, discovers that WikiLeaks is out to expose the domestic spying program and tries to put a stop to it (“Wikileaks!”) Terrified of Patrick and still unsold on the need for exposing the NSA, Mary calls off the mission, pushes Steve away, and turns to Lisa for advice (“Bad Girls Finish First”).
      p Things take a turn when Patrick reveals he’s arrested the Tahanis, an innocent refugee couple Mary has monitored for years, whose daughter Mary feels she protects. Mary finally realizes the NSA is in the wrong and agrees to help Steve. Enter Juliana, the severe Swiss head of WikiLeaks who only has a matter of days to help Mary prepare for her mission. As Mary trains, 16-year-old Fatima Tahani imagines her brave guardian angel who will help free her parents (“My Angel”).
      p Mary steals the documents late at night, but accidentally draws the attention of the security team, forcing Lisa to provide a creative cover. Back at her apartment, Mary and Steve prepare to flee to Lithuania (after a short layover in Moscow) and contemplate their future (“Scared Shitless”).
      h2.center-text ACT II
      p After their passports were cancelled, Mary and Steve have found themselves stuck in Sheremetyevo Airport in Moscow for two months (“The Best Thing to Do in Russia”). Though unable to release the documents due to slow internet speeds and with rapidly deteriorating hygiene, Mary and Steve have secretly fallen in love with each other (“I Need You”).
      p Before they can profess their love, Juliana returns and reveals that the two could be stuck for another six months. When Steve leaves to get dinner, Juliana shows her true colors to Mary (“Swiss Bitch”) and falsely insinuates that she and Steve have been intimate for months. A heartbroken Mary flees to another gate and rebuffs Steve’s attempts to explain.
      p Seemingly out of nowhere, Lisa arrives with Patrick and an immunity deal: If Mary returns to the U.S. with the flashdrive, she can go back to her old life. When she finds out the deal includes an end to the Tahani family’s legal ordeal, Mary reluctantly accepts, taking the flashdrive and abandoning Steve.
      p Back in the U.S., Mary must make the rounds on various cable news networks, slandering Steve in the process (“Speculation!”) When Lisa tries to convince Mary to move on and reveals her own behind-the-scenes machinations, Mary pushes her away. Back in Russia, a broken Steve contemplates his poor life decisions (“Stupid Steve”).
      p Mary returns to work the next week, but Lisa is missing. That night, Mary encounters Juliana, who has been blackmailed by Lisa into confessing the truth: Steve is actually in Love with Mary. Lisa arrives and tells Mary she’ll support her no matter what. Mary heads to Lithuania where she and Steve profess their love for each other. After sharing a kiss, they consider what it means to really take a risk for something that matters (“Fail Big”).
      h2 Production History
      p TAPPED was conceived and written by Jed Levine and Brad Kemp in 2014, before being submitted to the 2015 Premier Premieres Festival in Chicago. TAPPED debuted at the festival on June 5, 2015 and won the grand prize. TAPPED then enjoyed a six-show run at MCL Chicago from September 19 until October 24, selling out five out of the six shows.
      p The TAPPED team is now working on the show’s biggest run yet—a four week, 16-show run at Theater Wit in Chicago, from June 9 until July 3, 2016.
      h1 Photos
        img.press_photo(src="images/press/KP3A0913.jpg")
        img.vert.press_photo(src="images/press/KP3A0866.jpg")
        img.press_photo(src="images/press/KP3A0839.jpg")
        img.press_photo(src="images/press/KP3A0936.jpg")
        img.vert.press_photo(src="images/press/KP3A0869.jpg")
        img.press_photo(src="images/press/KP3A1119.jpg")
        img.press_photo(src="images/press/KP3A1188.jpg")
      img(src='images/footer-eagle.png').footer-eagle