html
  head
    title Someone is Always Watching
    link(rel='stylesheet', href='/styles/core.css')
  body
    include ./includes/nav.jade
    section.main-content._right
      h1 Get in Touch
      p If you’re interested in becoming a producer, getting involved with our creative team, or just learning more about TAPPED, please contact Jed Levine at: <a href="mailto:jedlev@gmail.com">jedlev@gmail.com</a>