html
  head
    title Someone is Always Watching
    link(rel='stylesheet', href='/styles/core.css')
  body
    .background
    include ./includes/nav.jade
    section.main-content._core
      img(src='images/header-eagle.png').header-eagle
      .dates June 9 – July 3, 2016 | Thursdays, Fridays & Saturdays at 7:30pm; Sundays at 2:00pm | At Theater Wit
      h1 Get in Touch
      p If you’re interested in becoming a producer, getting involved with our creative team, or just learning more about TAPPED, please contact Jed Levine at: <a href="mailto:jedlev@gmail.com">jedlev@gmail.com</a>
      img(src='images/footer-eagle.png').footer-eagle