html
  head
    title Someone is Always Watching
    link(rel='stylesheet', href='/styles/core.css')
  body
    include ./includes/nav.jade
    section.main-content._right
      h1 Saturdays at 7:30 | MCL Chicago
      a(href='http://www.mclchicago.com/store/p171/Tapped.html')
        button._primary Get Tickets Now!
      img.press_photo(src='/images/press/yoursecrets.jpg')
      p this is a series of wordsthis is a series of wordsthis is a series of wordsthis is a series of wordsthis is a series of wordsthis is a series of wordsthis is a series of wordsthis is a series of wordsthis is a series of wordsthis is a series of wordsthis is a series of wordsthis is a series of wordsthis is a series of wordsthis is a series of wordsthis is a series of words</p><p>this is a series of wordsthis is a series of wordsthis is a series of wordsthis is a series of wordsthis is a series of wordsthis is a series of wordsthis is a series of wordsthis is a series of wordsthis is a series of wordsthis is a series of wordsthis is a series of wordsthis is a series of wordsthis is a series of words
      p this is a series of wordsthis is a series of wordsthis is a series of wordsthis is a series of wordsthis is a series of wordsthis is a series of wordsthis is a series of wordsthis is a series of wordsthis is a series of wordsthis is a series of wordsthis is a series of wordsthis is a series of wordsthis is a series of wordsthis is a series of wordsthis is a series of words</p><p>this is a series of wordsthis is a series of wordsthis is a series of wordsthis is a series of wordsthis is a series of wordsthis is a series of wordsthis is a series of wordsthis is a series of wordsthis is a series of wordsthis is a series of wordsthis is a series of wordsthis is a series of wordsthis is a series of words