html
  include ./includes/head.jade
  body
    include ./includes/nav.jade
    section.main-content._right
      h1 Saturdays at 7:30 | MCL Chicago
      a(href='http://www.mclchicago.com/store/p171/Tapped.html')
        button._primary Get Tickets Now!
      img.press_photo(src='/images/press/yoursecrets.jpg')