html
  head
    title Someone is Always Watching
    link(rel='stylesheet', href='/styles/core.css')
  body
    .background
    include ./includes/nav.jade
    section.main-content._core
      img(src='images/header-eagle.png').header-eagle
      .dates June 9 – July 3, 2016 | Thursdays, Fridays & Saturdays at 7:30pm; Sundays at 2:00pm | At Theater Wit
      h1 Demo Cast Recording
      p We’re thrilled to be able to offer demo versions of the TAPPED cast recording for free. These demos feature a simplified accompaniment. Future productions of TAPPED will feature a band with full scoring.
      iframe(width="80%", height="580", src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/162776670&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false", frameborder="no", scrolling="no")
      p The demo cast recordings feature the original cast of TAPPED, including: Laureen Siciliano, Max Hinders, Brittny Congleton, David Dritsas, Jenna Steege, Sarah Barnhardt, Colleen Burgess, Phil DeBoer, Mikey Mulhearn, Beau Nolen, Todd Page, Kristin Schmitz and Heather Scholl.
      img(src='images/footer-eagle.png').footer-eagle