html.praise
  head
    title Someone is Always Watching
    link(rel='stylesheet', href='/styles/core.css')
    link(rel='stylesheet', href='/styles/praise.css')
  body
    include ./includes/nav.jade
    section.main-content._center
      for el in reviews
         .review
           .review-content #{el.Review}
           .review-author -#{el.Reviewer}
           .review-context #{el.Context}