html
  head
    title Someone is Always Watching
    link(rel='stylesheet', href='/styles/core.css')
  body
    .background
    include ./includes/nav.jade
    section.main-content._core
      img(src='images/header-eagle.png').header-eagle
      h1 Support Us
      p We are self-producing the 2016 run of TAPPED—a big risk, but one we’re excited to take because we believe in this show and its message (#failbig). And we’ve created a crowdfunding campaign to help us make it happen.
      p During the month of March, you can donate to our production and receive cool perks: At the most basic level you can just buy your ticket early, but other perks include T-shirts, production updates, autographed cast albums, invitations to our exclusive concert rehearsal, videos made by the cast, and even an original song written just for you. There is quite literally no such thing as too small of a donation.
      p The more money we can crowdfund, the bigger the artistic risks we’ll be able to make. More money means better sets, costumes, tech (like wireless mics!) and marketing to make sure we pack the house. Every dollar you donate will be sunk directly into the show.
      p Watch the video below and be sure to visit our <a href="#">IndieGogo page</a> to see what kinds of perks you can get.<br>
      iframe(width="560", height="315", src="https://www.youtube.com/embed/8Yfciri2YFQ", frameborder="0", allowfullscreen)
      img(src='images/footer-eagle.png').footer-eagle
