@font-face {
  font-family: 'mission';
  src: url('http://toddhpage.com/prettyfonts/Mission%20Gothic%20Bold.otf');
}

@font-face {
  font-family: 'edmondsans';
  src: url('/fonts/Edmondsans-Regular.otf');
}

@font-face {
  font-family: 'edmondsans-bold';
  src: url('/fonts/Edmondsans-Bold.otf');
}

@font-face {
  font-family: 'hero';
  src: url('/fonts/Hero.otf');
}

@font-face {
  font-family: 'hero-light';
  src: url('/fonts/Hero Light.otf');
}