nav {
  width: 100%;
  position: fixed;
  top: 0; left: 0; right: 0;
  background-color: $dark-blue;
  text-align: right;
  font-size: 20px;
  z-index: 1000;

  a {
    display: inline-block;
    padding: 20px 20px;
    border-right: 1px solid $white;
    text-decoration: none;
    color: $white;
  }

  .logo {
    float: left;
    border: none;

    img {
      width: 180px;
    }
  }
    
  .nav_choice {
    padding-bottom: 25px;

    &:hover,&.active {      
      background-color: $white;
      color: $pink;
      text-decoration: underline;
    }
  
    &:first-of-type {
      border-left: 1px solid $white;
    }

    &:last-of-type {
      border-right: none;
    }
  }
}

@media screen and (max-width: 940px) {
  nav {
    text-align: center;

      .logo { display: none;}
    }
}