.reviews {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-align-content: flex-end;
      -ms-flex-line-pack: end;
          align-content: flex-end; }

.review {
  color: #000;
  background-color: #FFF;
  margin: 1%;
  display: inline-block;
  padding: 10px; }
  .review-content {
    font-family: edmondsans;
    font-size: 20px;
    text-align: left; }
  .review-author, .review-context {
    text-align: right; }
  .review-author {
    font-size: 22px;
    padding: 15px 0 5px; }
  .review-context {
    font-style: italic; }
